.n8n/workflows/exchange_rate_monitor.json
{
  "name": "Exchange Rate Monitor - JPY",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 9 * * *",
        "cronTimeZone": "Asia/Tokyo"
      },
      "name": "Daily 09:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "=\"https://v6.exchangerate-api.com/v6/\" + $env.EXCHANGE_RATE_API_KEY + \"/latest/JPY\"",
        "responseFormat": "json",
        "jsonParameters": true
      },
      "name": "Get Rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const rate = items[0].json.conversion_rates?.TWD || items[0].json.conversion_rates?.USD;\nreturn [{ json: { rate } }];"
      },
      "name": "Extract Rate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"rate\"] }}",
              "operation": "smaller",
              "value2": 0.21
            }
          ]
        }
      },
      "name": "Rate < 0.21?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "@your_telegram_chat_id",
        "text": "快換錢！現在日幣匯率：{{$json[\"rate\"]}}"
      },
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Daily 09:00 Trigger": {
      "main": [
        [
          {
            "node": "Get Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rates": {
      "main": [
        [
          {
            "node": "Extract Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rate": {
      "main": [
        [
          {
            "node": "Rate < 0.21?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate < 0.21?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {}
}